.container {
  position: relative;
}
li {
  float: left;
  background: inherit;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}
li:nth-child(1) {
  margin-left: 100px;
}
a {
  position: relative;
  text-decoration: none;
  display: block;
  width: 100px;
  height: 55px;
  text-align: center;
  overflow: hidden;
  top: 20px;
}
a::after{
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: pink;
  transform: scaleX(0);
  transition: transform 500ms ease;
}
a:hover::after{
  transform: scaleX(1);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav {
  background: white;
  /* position: sticky;
  top: 0; */
  box-shadow: 0 0 100px 1px rgb(211, 208, 208);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
#sliding{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 5px;
  left: 100px;
  background-color: pink;
  transition:ease-in-out  1s;
}
.nav::after {
  content: "";
  clear: both;
  display: table;
}
* {
  margin: 0;
}
.body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 46%));
  grid-gap: 30px;
  padding: 25px;
  padding-left: 50px;
  height: 100%;
}
.footer {
    box-shadow: 0 0 100px 1px rgb(211, 208, 208);
  background: white;
  text-align: center;
  height: 55px;
  width: 100%;
}
.footer p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h2 {
  padding: 50px;
  text-align: center;
}
h4{
  text-align: center;
}
img {
  margin-left: 30px;
  position: absolute;
  width: 50px;
  object-fit: cover;
}
img:hover {
  cursor: pointer;
}
.horizontal{
    width: 50px;
    height: 100%;
    background-color: white;
    top: 55px;
    position: fixed;
    z-index: 2;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #fd70a1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@media screen and (max-width:415px) {
    .nav{
        font-size: 0.8rem;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 2;
    }
    .body{
        padding: 20px;
    }
    .horizontal{
        display: none;
    }
}
@media screen and (max-width:321px) {

    li{
        padding: 15px;
    }
    .nav{
        font-size: 0.6rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }
    .body{
        padding: 20px;
    }
    .horizontal{
        display: none;
    }
    a{
      width: 50px;
      height: 20px;
      top: 0px;
    }
    li:nth-child(1) {
      margin-left: 80px;
    }
    a::after{
      bottom: 0;
    }
}
@media screen and (min-width:413px) {
    .nav{
        position: sticky;
        top:0;
        z-index: 2;
    }
}
